html {
  --color-accent: oklch(65% 60% 0);
  accent-color: var(--color-accent);
  color-scheme: light dark;
}

body {
  /* Set line height to 1.5 times the font size
         and use the OS’s UI font as the website font
       */
  font: 100%/1.5 system-ui;
  display: grid;
  max-width: 100ch;
  margin-inline: max(1em, (100% - 100ch) / 2);
}


nav ul {
  display: contents;
}

nav li {
  display: contents;
}

span {
  display: inline;
}

nav {
  --border-color: oklch(50% 10% 200 / 40%);
  display: flex;
  border-width: 0px;
  border-bottom-width: 1px;
  border-style: solid;
  border-bottom-color: var(--border-color);
}

nav a {
  flex: 1;
  text-decoration: none;
  color: inherit;
  text-align: center;
  padding: 0.5em;
}

nav a.current {
  border-bottom: 0.4em solid var(--border-color);
  padding-bottom: 0.1em;
}

nav a:hover {
  border-bottom: 0.4em solid var(--color-accent);
  padding-bottom: 0.1em;
  background-color: color-mix(in oklch, var(--color-accent), canvas 85%);
}

form {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 1em;
}

form label {
  display: grid;
  grid-template-columns: subgrid;
  grid-column: 1 / -1;
}

form button {
  grid-column: 1 / -1;
}

div.projects {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(15em, 1fr));
  gap: 1em;
}

div.projects article {
  display: grid;
  grid-template-rows: subgrid;
  grid-row: span 3;
}

div.projects h2 {
  margin: 0;
}

h1 {
  font-size: 400%;
}

input,
textarea,
button,
select {
  font-family: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  line-height: 1.1;
  text-wrap: balance;
}

section.resume {
  border-bottom-style: solid;
  border-bottom-width: 2px;
  border-bottom-color: black;
  padding: 1em;
  border-radius: 1em 1em 0 0;
}

section.resume a {
  color: inherit;

}

section.resume article {
  display: block;
  padding: 1em;
  border-radius: 1em;
}

section.resume time {
  display: inline-block;
  width: 100%;
  text-align: right;
}

section.resume article:hover {
  background-color: oklch(80% 3% 200 / .3);
}

section.resume:hover {
  background-color: oklch(80% 3% 200 / .3);
}

label.color-scheme {
  position: absolute;
  top: 1rem;
  right: 1rem;
  font-size: 80%;
}

dl {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 1rem;
}

dt {
  grid-row: 1;
}

dd {
  grid-row: 2;
  font-size: 120%;
}

#projects-pie-plot {
  max-width: 20em;
  margin-block: 2em;

  overflow: visible;
}

.legend {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(9em, 1fr));
  gap: 1em;
  flex: 1;
  padding: 1em;
  border: 1px solid #ccc;
  margin-top: 2em;
  margin-left: 2em;
  border-radius: 1em;
}

.legend li {
  display: flex;
  align-items: center;
  gap: 0.5em;
  list-style: none;
}

.swatch {
  display: inline-block;
  width: 1em;
  aspect-ratio: 1 / 1;
  background-color: var(--color);
  border-radius: 50%;
}

.container {
  display: flex;
}

&:has(path:hover) {
  path:not(:hover) {
    opacity: 0.5;
  }
}

path {
  transition: 300ms;
  cursor: pointer;

}

.selected {
  --color: oklch(60% 45% 0) !important;

  &:is(path) {
    fill: var(--color);
  }
}

.gridlines {
  opacity: 20%;
}

circle {
  transition: 200ms;
  transform-origin: center;
  transform-box: fill-box;

  @starting-style {
    r: 0;
    transition: all 200ms, r calc(var(--r) * 100ms);
  }
}

circle:hover {
  transform: scale(1.5);
}

dl.info {
  display: grid;
  grid-template-columns: auto 1fr;
  gap: 0.5em 1em;
}

.tooltip {
  position: fixed;
  top: 1em;
  left: 1em;
}

dl.info {
  /* ... other styles ... */
  transition-duration: 500ms;
  transition-property: opacity, visibility;
}

dl.info[hidden]:not(:hover, :focus-within) {
  opacity: 0;
  visibility: hidden;
}

#commit-tooltip {
  background-color: white;
  box-shadow: 2px 2px 2px 2px rgba(0, 0, 0, 0.2);
  border-color: grey;
  border-width: 1px;
  border-radius: 1em;
  padding: 1em;
}

@keyframes marching-ants {
  to {
    stroke-dashoffset: -8;
    /* 5 + 3 */
  }
}

.commit-slider>label {
  flex: 1;
  align-items: baseline;
}

.commit-slider>time {
  margin-left: auto;
}

.selection {
  fill-opacity: 0.1;
  stroke: black;
  stroke-opacity: 0.7;
  stroke-dasharray: 5 3;
  animation: marching-ants 2s linear infinite;
}

circle.selected {
  fill: #ff6b6b;

}


#files {
  display: grid;
  grid-template-columns: 1fr 4fr;

  >div {
    grid-column: 1 / -1;
    display: grid;
    grid-template-columns: subgrid;
  }

  dt {
    grid-column: 1;
  }

  dd {
    grid-column: 2;
  }
}

.loc {
  display: flex;
  width: 0.5em;
  aspect-ratio: 1;
  background: var(--color);
  border-radius: 50%;
  
}

#files dd {
  grid-column: 2;
  display: flex;
  flex-wrap: wrap;
  align-items: start;
  align-content: start;
  gap: 0.15em;
  padding-top: 0.6em;
  margin-left: 0;
}

small {
  display: block;
}

#scrolly-1 {
  position: relative;
  display: flex;
  gap: 1rem;

  > * {
    flex: 1;
  }
}

#scatter-story {
  position: relative;
}

#scatter-plot {
  position: sticky;
  top: 0;
  left: 0;
  bottom: auto;
  height: 50vh;
  padding: 10vh;
  margin: 0;
}

body {
  width: 100vw;
}